---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
interface Project{
	title: string
	description: string
}

const {default:meData} = await import('../assets/me.json'); 
const projects = await Astro.glob<Project>("../pages/projects/*.md");
console.log(projects)
---

<Layout>
	<Header />
	
	<section class="hero">
	<h1 class="nombre">{meData.name}</h1>
	<h2 class="info">Info:</h2>
	<p class="bio">{meData.descripcion}</p>
	</section>
	<section>
		<h2>Proyectos</h2>
		{projects.map((project)=>(
		
			<a class="enlace-proyecto" href={project.url}>
			<article class="proyecto">
				<h3>{project.frontmatter.title}</h3>
				<p>{project.frontmatter.description}</p>
			</article>
		</a>
		))
		}
	</section>
	<section>
		<h2>Estudios:</h2>
		{meData.estudios.map((exp) =>(
			<article class="estudios">
			<p>Titulación: {meData.estudios[0].titulos}</p>
			<p>Estudiante en: {meData.estudios[0].estudiante}</p>
			<p>Certificado en {meData.estudios[0].certificados}</p>
			<p>Certificado en {meData.estudios[0].certificado}</p>
			</article>
		))}
		
		<h2>Experiencia:</h2>
		{meData.experiencia.map((exp) => (
			<article class="experiencia">
			<p class="empresa">{meData.experiencia[0].nombreEmpresa}</p>
			<p class="puesto">Puesto de trabajo: {meData.experiencia[0].puesto}</p>
			<p class="tiempo">Tiempo en la empresa: {meData.experiencia[0].tiempo}</p>
			</article>
		))}
	</section>
	<section>
	<h2>Habilidades:</h2>
	<div class="envoltura-habilidad">
	{meData.pros.map((hab) => (
		<article class="habilidades">
		<p>{meData.pros[0].habilidades}</p>
		<h3>Idiomas:</h3>
		<p>	{meData.pros[0].idiomas1}</p>
		<p>	{meData.pros[0].idiomas2}</p>
		</article>
	))}
	</div>
	</section>
	<Footer />
	
</Layout>
