---
import Layout from '../layouts/Layout.astro';

const {default:meData} = await import('../assets/me.json'); 
---

<Layout>
	<h1>{meData.name}</h1>
	<h2>{meData.apellidos}</h2>
	<h2>Edad: {meData.edad}</h2>
	<h2>Info:</h2>
	<p>{meData.descripcion}</p>
	<h2>Titulación: {meData.titulos}</h2>
	<h2>Estudiante en: {meData.estudiante}</h2>
	<h2>Certificados:</h2>
	<p>{meData.certificados[0]}</p>
	<p>{meData.certificados[1]}</p>
	<h2>Experiencia:</h2>
	<p>Empresa: {meData.experiencia[0].nombreEmpresa}</p>
	<p>Puesto de trabajo: {meData.experiencia[0].puesto}</p>
	<p>Tiempo en la empresa: {meData.experiencia[0].tiempo}</p>
	<h2>Habilidades:</h2>
	<p>Habilidad: {meData.pros[0].habilidades}</p>
	<p>Idiomas: {meData.pros[0].idiomas1}</p>
	<p>Idiomas: {meData.pros[0].idiomas2}</p>
	
</Layout>
